PH_NODE_ID=boot2
PH_LOG_DIR=/var/lib/jrocnet/boot2/logs
PH_LISTEN=/ip4/0.0.0.0/tcp/7002
PH_KEY=ed25519://boot2-seed
PH_BLOB_DIR=/var/lib/jrocnet/boot2/blobs
PH_BOOTSTRAPS="/dns4/boot1.jrocnet.com/tcp/7001/p2p/12D3KooWLASw1JVBdDFNATYDJMbAn69CeWieTBLxAKaN9eLEkh3q /ip4/137.184.33.2/tcp/7001/p2p/12D3KooWLASw1JVBdDFNATYDJMbAn69CeWieTBLxAKaN9eLEkh3q"
PH_SERVICE_NAME=powerhouse-boot2
PH_BACKUP_SOURCES="/var/lib/jrocnet/boot2 /etc/jrocnet/blob_policy.json /etc/jrocnet/governance.json /etc/jrocnet/stake_state.json"
PH_LOG_SHIP_HOST=boot1.jrocnet.com
