PH_NODE_ID=observer-boot-east
PH_LOG_DIR=/var/lib/powerhouse/observer-boot/logs
PH_LISTEN=/ip4/0.0.0.0/tcp/7002
PH_KEY=ed25519://observer-boot-east
PH_BLOB_DIR=/var/lib/powerhouse/observer-boot/blobs
PH_METRICS_ADDR=127.0.0.1:9112
PH_BROADCAST_INTERVAL=5000
PH_QUORUM=1
PH_BOOTSTRAPS="/ip4/64.23.182.213/tcp/7002/p2p/12D3KooWGEHbPAQ9ZVB9Uqg1j8CnsNqKvS2xmAe5cmT4w3idUtmQ /ip4/164.92.150.22/tcp/7002/p2p/12D3KooWFNv4sZfDKypMeWqRetghHxXzkhPTc4PvynDZKSETJqd8"
