PH_NODE_ID=boot1
PH_LOG_DIR=/var/lib/powerhouse/boot1/logs
PH_LISTEN=/ip4/0.0.0.0/tcp/7001
PH_KEY=ed25519://boot1-seed
PH_BLOB_DIR=/var/lib/powerhouse/boot1/blobs
PH_BOOTSTRAPS="/ip4/146.190.126.101/tcp/7002/p2p/12D3KooWRLM7PJrtjRM6NZPX8vmdu4YGJa9D6aPoEnLcE1o6aKCd /ip4/146.190.126.101/tcp/7002/p2p/12D3KooWRLM7PJrtjRM6NZPX8vmdu4YGJa9D6aPoEnLcE1o6aKCd"
PH_SERVICE_NAME=powerhouse-boot1
PH_BACKUP_SOURCES="/var/lib/powerhouse/boot1 /etc/powerhouse/blob_policy.json /etc/powerhouse/governance.json /etc/powerhouse/stake_state.json"
